*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#pic{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    background-color: black;
    /* opacity: 50%; */
}
.d-blo{
    display: block;
}
/* .arrow{
    display: flex;
    justify-content: center;
    flex-direction: column;
} */
#bg-card{
    background-image: url('img/background1.jpg');
    background-attachment: fixed;
    
}
.pic{
    background-color: rgba(rgb(61, 54, 54), rgb(83, 94, 83), rgb(140, 140, 165), alpha);
}


#nav-link:hover{
    color: white;
    
}

.back{
    display: none;
    position: absolute;
    top: 70px;
    color: white;
    font-size: 13px;
  
}

.skillz{
    position: relative;
    height: 200px;
    /* transition: 0.5s ease; */
    border: none;
    /* height: 100px; */
}   

.skillz:hover .back{
    display: inline-block;
    transition: 0.4s ease;
   
}

.skillz:hover{
    border: 2px solid gainsboro;
    border-radius: 5px;
    transform: scale(1.1);
    transition: 1.4s ease;
    background-color:#0d6efd;
}
